.one { overflow: hidden;}
.two { overflow: scroll;}
h2, p { width: 400px; font-size: 90%; line-height: 1.2em; }
h2  { color: #0088dd; border-bottom: 1px solid #0088dd;}
p { min-height: 10px; max-height: 30px; }
